# Mobility data converter

## Import modules

In [1]:
import sys
sys.path.insert(1, '../src/utils/')
from my_utils import *

import pandas as pd
import numpy as np

In [2]:
# A faltar: time_index, ids das rsus

## Introduction

The goal is to convert data into the following format:

In [3]:
df_example = pd.read_csv('../data/processed/example_5nodes.csv')
df_example.head(2)

,timestamp,node_id,latitude,longitude,neighbours,rsu
0,1423807260,101,40.641606,-8.652702,[{'node_id': '102'| 'rssi': '46'| 'rsu': 0}],1
1,1423807260,102,40.641211,-8.653796,[{'node_id': '101'| 'rssi': '46'| 'rsu': 1}|{'...,0

## Variables

In [4]:
# columns from the original dataframe
cols = ['time_index', 'entity_id', 'location', 'speed', 'heading', 'altitude', 'rssi', 'obu_id',
        'road', 'class', 'test', 'receiverid', 'receivertype', 'stationid', 'stationtype',
        'semimajorconf', 'semiminorconf', 'semimajororient', 'altitudeconf', 'headingconf',
        'speedconf', 'vehiclerole', 'drivedirection', 'length', 'width', 'acceleration',
        'accelerationconf', 'curvature', 'curvatureconf', 'yawrate', 'yawrateconf', 'brakepedal',
        'gaspedal', 'emergencybrake', 'collisionwarning', 'accengaged', 'cruisecontrol',
        'speedlimiter', 'specialvehicle']

# selected features
features = ['time_index', 'entity_id', 'location', 'rssi', 'stationid']

In [5]:
# selected id's
rsu_ids = ['p3', 'p5', 'p6', 'p26', 'p19']
obu_ids = [50, 51, 52, 60, 86, 87, 89, 90, 97, 99]

In [6]:
rsu_locations = {'p3':(40.64074, -8.65705), 'p5':(40.64088, -8.65397), 'p6':(40.64161, -8.652827), 'p26':(40.63848, -8.65147), 'p19':(40.64339, -8.65847)}
rsu_locations

{'p3': (40.64074, -8.65705),
 'p5': (40.64088, -8.65397),
 'p6': (40.64161, -8.652827),
 'p26': (40.63848, -8.65147),
 'p19': (40.64339, -8.65847)}

In [7]:
# converts short id's to long id's
rsu_ids = build_posts_ids(rsu_ids)
rsu_ids

['urn:ngsi-ld:Values:aveiro_cam:p3',
 'urn:ngsi-ld:Values:aveiro_cam:p5',
 'urn:ngsi-ld:Values:aveiro_cam:p6',
 'urn:ngsi-ld:Values:aveiro_cam:p26',
 'urn:ngsi-ld:Values:aveiro_cam:p19']

In [8]:
# selected time period
data_init = '2022-03-07 09:25:00.00+00'
data_end = '2022-03-07 09:30:00.00+00'

# 9:25 - 9h30
# 8:35 - 8h40

In [9]:
# file containing the raw data
filename = '../data/raw/cams.part.01.csv'
# file for the processed data
filename_processed = '../data/processed/data_9:25_9:30.csv'

In [10]:
# radius (meters) for two entities being considered neighbours
radius = 50
# time for resample
time = '5s'

## Loading data

In [11]:
df = pd.read_csv(filename, names=cols) # read file

In [12]:
df['rssi'].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.98])

count    1000000.000000
mean      -17322.096087
std        28832.587239
min       -65535.000000
10%       -65535.000000
20%       -65535.000000
30%          -88.000000
40%          -86.000000
50%          -84.000000
60%          -82.000000
70%          -79.000000
80%          -74.000000
90%          -67.000000
98%          -63.000000
max            0.000000
Name: rssi, dtype: float64

## Converting data

In [13]:
df = df[features] # select columns
df = df.loc[df['entity_id'].isin(rsu_ids)] # select only relevant rsu's
df = df.loc[df['stationid'].isin(obu_ids)] # select only relevant obu's
df = df.loc[(df['time_index']>=data_init) & (df['time_index']<data_end)] # include data_init and exclude data_end
df = df.loc[(df['rssi']!=0)] # filter by rssi values
df = df.sort_values(by='time_index')
df['time_index'] = pd.to_datetime(df['time_index'])
df["time_index"] = df["time_index"].dt.round(time) # round time_index columns
df = df.reset_index(drop=True) # reset index

df.head(2)

,time_index,entity_id,location,rssi,stationid
0,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,0101000000E1BB28D5994E21C0EB234B4112524440,-81,60
1,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,0101000000E1BB28D5994E21C0EB234B4112524440,-82,60

In [14]:
df = df.groupby(['time_index', 'entity_id', 'stationid'], as_index=False).agg({'location':'first', 'rssi':'mean'})
df

,time_index,entity_id,stationid,location,rssi
0,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,60,0101000000E1BB28D5994E21C0EB234B4112524440,-82.666667
1,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,0101000000E1BB28D5994E21C0EB234B4112524440,-80.333333
2,2022-03-07 09:25:05+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,60,0101000000EE10B5238B4E21C080B50F1E12524440,-84.750000
3,2022-03-07 09:25:05+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,0101000000EE10B5238B4E21C080B50F1E12524440,-76.166667
4,2022-03-07 09:25:10+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,0101000000DB954C04604E21C0F6662F3608524440,-77.000000
5,2022-03-07 09:25:15+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,0101000000BF709D352E4E21C07D9175DD00524440,-79.000000
6,2022-03-07 09:25:25+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,60,01010000007AC2B755B54D21C0B14DCF60F8514440,-86.000000
7,2022-03-07 09:25:40+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,60,0101000000D739611D224D21C00816D1C0D9514440,-85.666667
8,2022-03-07 09:25:45+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,60,0101000000800640811C4D21C00D26B49BCF514440,-77.800000
9,2022-03-07 09:25:50+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,60,0101000000EF512404504D21C0652EBA06C7514440,-76.000000
10,2022-03-07 09:28:25+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,01010000002B5C4535DB4B21C0C730822106524440,-88.000000
11,2022-03-07 09:28:30+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,01010000003C1570CFF34B21C01EFF058200524440,-88.000000
12,2022-03-07 09:28:35+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,01010000004884EBF6FE4B21C0D7FC5305FE514440,-87.500000
13,2022-03-07 09:28:40+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,010100000012F6ED24224C21C05F75898FF4514440,-86.500000
14,2022-03-07 09:28:45+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,0101000000C852358B614C21C0062747A6E8514440,-87.500000
15,2022-03-07 09:28:50+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,010100000037E6D07D944C21C0E0AB0C99E1514440,-86.000000
16,2022-03-07 09:28:55+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,0101000000A2B437F8C24C21C0435C9434DA514440,-82.200000
17,2022-03-07 09:29:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,01010000007CF54C8AEA4C21C04C31AC87D4514440,-80.200000
18,2022-03-07 09:29:05+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,52,010100000071AAB5300B4D21C064737A83D4514440,-81.750000
19,2022-03-07 09:29:40+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,97,0101000000F35DA516A54B21C0CD2445BF11524440,-88.750000
20,2022-03-07 09:29:40+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,52,0101000000D7FDBEDAAC4D21C0D68B46E3F5514440,-86.000000
21,2022-03-07 09:29:45+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,97,0101000000C481EBE5D24B21C056D1C4E006524440,-87.400000
22,2022-03-07 09:29:45+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,52,01010000003DDD2F551F4E21C0EE1E454200524440,-87.666667
23,2022-03-07 09:29:50+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,97,0101000000CDCD925BEE4B21C0A16D90A4FF514440,-86.200000
24,2022-03-07 09:29:50+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,52,0101000000F6CFD380414E21C00A12DBDD03524440,-83.000000
25,2022-03-07 09:29:55+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,97,0101000000E6F3401A044C21C068AF3E1EFA514440,-83.200000
26,2022-03-07 09:29:55+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,99,01010000006F015768D64C21C0260F5542C1514440,-87.000000
27,2022-03-07 09:29:55+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,52,01010000006AC6FDA25F4E21C0372273C009524440,-79.200000
28,2022-03-07 09:30:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,97,0101000000F99683EA304C21C05BF2D313F1514440,-83.500000
29,2022-03-07 09:30:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p26,99,0101000000B92A9A18DC4C21C0BAC8F3CFC2514440,-86.000000
30,2022-03-07 09:30:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,52,01010000001D1549055F4E21C0010FB16609524440,-79.500000

In [15]:
df['gps'] = df['location'].map(convert_wkb_to_lat_lon) # convert location to gps
for n, col in enumerate(['latitude', 'longitude']): # extract lat, lon from gps
    df[col] = df['gps'].apply(lambda location: location[n])
df.head(2)

,time_index,entity_id,stationid,location,rssi,gps,latitude,longitude
0,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,60,0101000000E1BB28D5994E21C0EB234B4112524440,-82.666667,"(40.6411821, -8.6535174)",40.641182,-8.653517
1,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,0101000000E1BB28D5994E21C0EB234B4112524440,-80.333333,"(40.6411821, -8.6535174)",40.641182,-8.653517

In [16]:
df = df.drop(columns=['location'])
df.head(2)

,time_index,entity_id,stationid,rssi,gps,latitude,longitude
0,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p5,60,-82.666667,"(40.6411821, -8.6535174)",40.641182,-8.653517
1,2022-03-07 09:25:00+00:00,urn:ngsi-ld:Values:aveiro_cam:p6,60,-80.333333,"(40.6411821, -8.6535174)",40.641182,-8.653517

In [17]:
# add rsu location
df['gps_rsu'] = df['entity_id'].str.split(':', expand=True)[4].apply(lambda pid: rsu_locations.get(pid))
df['entity_id'] = df['entity_id'].str.split(':', expand=True)[4].str[1:].astype(int) + 100
df['stationid'] = df['stationid'] + 100
for n, col in enumerate(['latitude_rsu', 'longitude_rsu']): # extract lat, lon from gps
    df[col] = df['gps_rsu'].apply(lambda location: location[n])
df

,time_index,entity_id,stationid,rssi,gps,latitude,longitude,gps_rsu,latitude_rsu,longitude_rsu
0,2022-03-07 09:25:00+00:00,105,160,-82.666667,"(40.6411821, -8.6535174)",40.641182,-8.653517,"(40.64088, -8.65397)",40.64088,-8.653970
1,2022-03-07 09:25:00+00:00,106,160,-80.333333,"(40.6411821, -8.6535174)",40.641182,-8.653517,"(40.64161, -8.652827)",40.64161,-8.652827
2,2022-03-07 09:25:05+00:00,105,160,-84.750000,"(40.6411779, -8.6534053)",40.641178,-8.653405,"(40.64088, -8.65397)",40.64088,-8.653970
3,2022-03-07 09:25:05+00:00,106,160,-76.166667,"(40.6411779, -8.6534053)",40.641178,-8.653405,"(40.64161, -8.652827)",40.64161,-8.652827
4,2022-03-07 09:25:10+00:00,106,160,-77.000000,"(40.6408756, -8.6530763)",40.640876,-8.653076,"(40.64161, -8.652827)",40.64161,-8.652827
5,2022-03-07 09:25:15+00:00,106,160,-79.000000,"(40.6406514, -8.6526963)",40.640651,-8.652696,"(40.64161, -8.652827)",40.64161,-8.652827
6,2022-03-07 09:25:25+00:00,105,160,-86.000000,"(40.6403924, -8.6517741)",40.640392,-8.651774,"(40.64088, -8.65397)",40.64088,-8.653970
7,2022-03-07 09:25:40+00:00,126,160,-85.666667,"(40.6394578, -8.6506509)",40.639458,-8.650651,"(40.63848, -8.65147)",40.63848,-8.651470
8,2022-03-07 09:25:45+00:00,126,160,-77.800000,"(40.6391482, -8.6506081)",40.639148,-8.650608,"(40.63848, -8.65147)",40.63848,-8.651470
9,2022-03-07 09:25:50+00:00,126,160,-76.000000,"(40.6388863, -8.6510011)",40.638886,-8.651001,"(40.63848, -8.65147)",40.63848,-8.651470
10,2022-03-07 09:28:25+00:00,126,152,-88.000000,"(40.6408121, -8.6481568)",40.640812,-8.648157,"(40.63848, -8.65147)",40.63848,-8.651470
11,2022-03-07 09:28:30+00:00,126,152,-88.000000,"(40.6406405, -8.6483445)",40.640641,-8.648345,"(40.63848, -8.65147)",40.63848,-8.651470
12,2022-03-07 09:28:35+00:00,126,152,-87.500000,"(40.6405646, -8.6484296)",40.640565,-8.648430,"(40.63848, -8.65147)",40.63848,-8.651470
13,2022-03-07 09:28:40+00:00,126,152,-86.500000,"(40.6402759, -8.648698)",40.640276,-8.648698,"(40.63848, -8.65147)",40.63848,-8.651470
14,2022-03-07 09:28:45+00:00,126,152,-87.500000,"(40.6399124, -8.6491817)",40.639912,-8.649182,"(40.63848, -8.65147)",40.63848,-8.651470
15,2022-03-07 09:28:50+00:00,126,152,-86.000000,"(40.6396972, -8.6495704)",40.639697,-8.649570,"(40.63848, -8.65147)",40.63848,-8.651470
16,2022-03-07 09:28:55+00:00,126,152,-82.200000,"(40.6394716, -8.649925)",40.639472,-8.649925,"(40.63848, -8.65147)",40.63848,-8.651470
17,2022-03-07 09:29:00+00:00,126,152,-80.200000,"(40.6392984, -8.6502269)",40.639298,-8.650227,"(40.63848, -8.65147)",40.63848,-8.651470
18,2022-03-07 09:29:05+00:00,126,152,-81.750000,"(40.6392979, -8.650476)",40.639298,-8.650476,"(40.63848, -8.65147)",40.63848,-8.651470
19,2022-03-07 09:29:40+00:00,126,197,-88.750000,"(40.6411666, -8.6477439)",40.641167,-8.647744,"(40.63848, -8.65147)",40.63848,-8.651470
20,2022-03-07 09:29:40+00:00,105,152,-86.000000,"(40.6403164, -8.6517094)",40.640316,-8.651709,"(40.64088, -8.65397)",40.64088,-8.653970
21,2022-03-07 09:29:45+00:00,126,197,-87.400000,"(40.6408349, -8.6480934)",40.640835,-8.648093,"(40.63848, -8.65147)",40.63848,-8.651470
22,2022-03-07 09:29:45+00:00,106,152,-87.666667,"(40.6406329, -8.6525828)",40.640633,-8.652583,"(40.64161, -8.652827)",40.64161,-8.652827
23,2022-03-07 09:29:50+00:00,126,197,-86.200000,"(40.6406141, -8.6483029)",40.640614,-8.648303,"(40.63848, -8.65147)",40.63848,-8.651470
24,2022-03-07 09:29:50+00:00,106,152,-83.000000,"(40.640743, -8.6528435)",40.640743,-8.652843,"(40.64161, -8.652827)",40.64161,-8.652827
25,2022-03-07 09:29:55+00:00,126,197,-83.200000,"(40.6404455, -8.6484688)",40.640445,-8.648469,"(40.63848, -8.65147)",40.63848,-8.651470
26,2022-03-07 09:29:55+00:00,126,199,-87.000000,"(40.6387103, -8.6500733)",40.638710,-8.650073,"(40.63848, -8.65147)",40.63848,-8.651470
27,2022-03-07 09:29:55+00:00,106,152,-79.200000,"(40.6409226, -8.6530734)",40.640923,-8.653073,"(40.64161, -8.652827)",40.64161,-8.652827
28,2022-03-07 09:30:00+00:00,126,197,-83.500000,"(40.6401696, -8.6488107)",40.640170,-8.648811,"(40.63848, -8.65147)",40.63848,-8.651470
29,2022-03-07 09:30:00+00:00,126,199,-86.000000,"(40.6387577, -8.6501167)",40.638758,-8.650117,"(40.63848, -8.65147)",40.63848,-8.651470
30,2022-03-07 09:30:00+00:00,106,152,-79.500000,"(40.6409119, -8.6530687)",40.640912,-8.653069,"(40.64161, -8.652827)",40.64161,-8.652827

In [18]:
def rsu_to_node_id(df):
    _df = df.copy()
    _df = _df[['time_index', 'entity_id', 'latitude_rsu', 'longitude_rsu']]
    _df = _df.rename(columns={'entity_id':'node_id', 'latitude_rsu': 'latitude', 'longitude_rsu': 'longitude'})
    _df['neighbours'] = df.apply(lambda x : [(x.stationid, x.rssi, 0)], axis=1)
    _df['rsu'] = [1]*len(_df.index)
    _df = _df.groupby(['time_index', 'node_id', 'latitude', 'longitude'], as_index=False).agg({'neighbours': 'sum', 'rsu': 'first'})
    # 'neighbours': 'sum' -> sum of lists
    return _df

In [19]:
df_rsus = rsu_to_node_id(df)
df_rsus.head()

,time_index,node_id,latitude,longitude,neighbours,rsu
0,2022-03-07 09:25:00+00:00,105,40.64088,-8.653970,"[(160, -82.66666666666667, 0)]",1
1,2022-03-07 09:25:00+00:00,106,40.64161,-8.652827,"[(160, -80.33333333333333, 0)]",1
2,2022-03-07 09:25:05+00:00,105,40.64088,-8.653970,"[(160, -84.75, 0)]",1
3,2022-03-07 09:25:05+00:00,106,40.64161,-8.652827,"[(160, -76.16666666666667, 0)]",1
4,2022-03-07 09:25:10+00:00,106,40.64161,-8.652827,"[(160, -77.0, 0)]",1

In [20]:
def obu_to_node_id(df):
    _df = df.copy()
    _df = _df[['time_index', 'stationid', 'latitude', 'longitude']]
    _df = _df.rename(columns={'stationid':'node_id'})
    _df['neighbours'] = df.apply(lambda x : [(x.entity_id, x.rssi, 1)], axis=1)
    _df['rsu'] = [0]*len(_df.index)
    _df = _df.groupby(['time_index', 'node_id', 'latitude', 'longitude'], as_index=False).agg({'neighbours': 'sum', 'rsu': 'first'})
    # 'neighbours': 'sum' -> sum of lists
    return _df

In [21]:
df_obus = obu_to_node_id(df)
df_obus.head()

,time_index,node_id,latitude,longitude,neighbours,rsu
0,2022-03-07 09:25:00+00:00,160,40.641182,-8.653517,"[(105, -82.66666666666667, 1), (106, -80.33333...",0
1,2022-03-07 09:25:05+00:00,160,40.641178,-8.653405,"[(105, -84.75, 1), (106, -76.16666666666667, 1)]",0
2,2022-03-07 09:25:10+00:00,160,40.640876,-8.653076,"[(106, -77.0, 1)]",0
3,2022-03-07 09:25:15+00:00,160,40.640651,-8.652696,"[(106, -79.0, 1)]",0
4,2022-03-07 09:25:25+00:00,160,40.640392,-8.651774,"[(105, -86.0, 1)]",0

In [22]:
# Concatenate df_rsus with df_obus
df_nodes = pd.concat([df_rsus, df_obus])
df_nodes = df_nodes.sort_values(by='time_index')
df_nodes.head()

,time_index,node_id,latitude,longitude,neighbours,rsu
0,2022-03-07 09:25:00+00:00,105,40.640880,-8.653970,"[(160, -82.66666666666667, 0)]",1
1,2022-03-07 09:25:00+00:00,106,40.641610,-8.652827,"[(160, -80.33333333333333, 0)]",1
0,2022-03-07 09:25:00+00:00,160,40.641182,-8.653517,"[(105, -82.66666666666667, 1), (106, -80.33333...",0
2,2022-03-07 09:25:05+00:00,105,40.640880,-8.653970,"[(160, -84.75, 0)]",1
3,2022-03-07 09:25:05+00:00,106,40.641610,-8.652827,"[(160, -76.16666666666667, 0)]",1

In [23]:
def list_to_neighbour_format(l):
    txt = "["
    for i in range(len(l)):
        t = l[i]
        txt += "{'node_id': '" + str(t[0]) + "'| 'rssi': '" + str(round(abs(t[1]))) + "'| 'rsu': " + str(t[2]) + "}"
        if i<len(l)-1:
            txt += ","
        
    txt += "]"
    return txt

In [24]:
df_nodes['neighbours'] = df_nodes['neighbours'].apply(lambda x :list_to_neighbour_format(x))
df_nodes.head()

,time_index,node_id,latitude,longitude,neighbours,rsu
0,2022-03-07 09:25:00+00:00,105,40.640880,-8.653970,[{'node_id': '160'| 'rssi': '83'| 'rsu': 0}],1
1,2022-03-07 09:25:00+00:00,106,40.641610,-8.652827,[{'node_id': '160'| 'rssi': '80'| 'rsu': 0}],1
0,2022-03-07 09:25:00+00:00,160,40.641182,-8.653517,"[{'node_id': '105'| 'rssi': '83'| 'rsu': 1},{'...",0
2,2022-03-07 09:25:05+00:00,105,40.640880,-8.653970,[{'node_id': '160'| 'rssi': '85'| 'rsu': 0}],1
3,2022-03-07 09:25:05+00:00,106,40.641610,-8.652827,[{'node_id': '160'| 'rssi': '76'| 'rsu': 0}],1

In [25]:
df_nodes['timestamp'] = df_nodes['time_index'].astype(np.int64) // 10 ** 9
df_nodes = df_nodes[['timestamp', 'node_id', 'latitude', 'longitude', 'neighbours', 'rsu']]
df_nodes.head()

,timestamp,node_id,latitude,longitude,neighbours,rsu
0,1646645100,105,40.640880,-8.653970,[{'node_id': '160'| 'rssi': '83'| 'rsu': 0}],1
1,1646645100,106,40.641610,-8.652827,[{'node_id': '160'| 'rssi': '80'| 'rsu': 0}],1
0,1646645100,160,40.641182,-8.653517,"[{'node_id': '105'| 'rssi': '83'| 'rsu': 1},{'...",0
2,1646645105,105,40.640880,-8.653970,[{'node_id': '160'| 'rssi': '85'| 'rsu': 0}],1
3,1646645105,106,40.641610,-8.652827,[{'node_id': '160'| 'rssi': '76'| 'rsu': 0}],1

In [26]:
df_nodes.node_id.unique()

array([105, 106, 160, 126, 152, 197, 199])

_df = df_nodes
_df = _df.set_index('time_index')
_df = _df.resample('5Min')['node_id'].nunique()
_df

## Saving data

In [27]:
df_nodes.to_csv(filename_processed)