# Mobility data converter

## Import modules

In [1]:
import pandas as pd

## Introduction

The goal is to convert data into the following format:

In [2]:
df_example = pd.read_csv('../data/processed/example_5nodes.csv')
df_example.head(2)

,timestamp,node_id,latitude,longitude,neighbours,rsu
0,1423807260,101,40.641606,-8.652702,[{'node_id': '102'| 'rssi': '46'| 'rsu': 0}],1
1,1423807260,102,40.641211,-8.653796,[{'node_id': '101'| 'rssi': '46'| 'rsu': 1}|{'...,0

## Variables

In [3]:
cols = ['time_index', 'entity_id', 'location', 'speed', 'heading', 'altitude', 'rssi', 'obu_id',
        'road', 'class', 'test', 'receiverid', 'receivertype', 'stationid', 'stationtype',
        'semimajorconf', 'semiminorconf', 'semimajororient', 'altitudeconf', 'headingconf',
        'speedconf', 'vehiclerole', 'drivedirection', 'length', 'width', 'acceleration',
        'accelerationconf', 'curvature', 'curvatureconf', 'yawrate', 'yawrateconf', 'brakepedal',
        'gaspedal', 'emergencybrake', 'collisionwarning', 'accengaged', 'cruisecontrol',
        'speedlimiter', 'specialvehicle']

features = ['time_index', 'entity_id', 'location', 'rssi', 'stationid']

In [4]:
rsu_ids = ['p3', 'p5', 'p6', 'p26', 'p19']
obu_ids = [50, 51, 52, 60, 86, 87, 89, 90, 97, 99]

In [5]:
filename = '../data/raw/cams.part.01.csv'

## Loading data

In [6]:
df = pd.read_csv(filename, names=cols) # read file

## Converting data

In [7]:
def build_posts_ids(ids):
    '''
    Convert list of short ids to list of long ids.
    '''
    return ['urn:ngsi-ld:Values:aveiro_cam:' + pid for pid in ids]

rsu_ids = build_posts_ids(rsu_ids)
rsu_ids

['urn:ngsi-ld:Values:aveiro_cam:p3',
 'urn:ngsi-ld:Values:aveiro_cam:p5',
 'urn:ngsi-ld:Values:aveiro_cam:p6',
 'urn:ngsi-ld:Values:aveiro_cam:p26',
 'urn:ngsi-ld:Values:aveiro_cam:p19']

In [8]:
df = df[features] # select columns
df = df.loc[df['entity_id'].isin(rsu_ids)] # select only relevant rsu's
df = df.loc[df['stationid'].isin(obu_ids)] # select only relevant obu's
df = df.reset_index(drop=True) # reset index

df.head(2)

,time_index,entity_id,location,rssi,stationid
0,2022-03-08 06:59:12.95+00,urn:ngsi-ld:Values:aveiro_cam:p5,01010000009BBBA7BC674E21C0139447DC08524440,-86,97
1,2022-03-08 06:59:12.156+00,urn:ngsi-ld:Values:aveiro_cam:p6,01010000009BBBA7BC674E21C0139447DC08524440,-81,97

## Saving data